.container-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.116);
  z-index: 9999;
  padding: 70px;
  animation: slideTop 0.2s;
  .content-form {
    background-color: white;
    height: 100%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    position: relative;
    .back {
      width: 100px;
      height: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .title {
      text-align: center;
      padding: 20px;
      h1 {
        margin-top: 10px;
        font-size: 45px;
      }
      hr {
        margin: 10px;
      }
    }
    .input-form {
      padding: 0 40px;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      gap: 20px;
      .left,
      .right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }
      .right {
        textarea {
          width: 100%;
          padding: 10px;
          outline: none;
        }
      }
    }
    .button {
      position: absolute;
      right: 153px;
      height: 40px;
      width: 100px;
      bottom: 70px;
    }
    .warning {
      position: absolute;
      bottom: 10px;
      left: 10px;
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and(max-width:"560px") {
  .container-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    z-index: 9999;
    padding: 0;
    padding-top: 60px;
    .content-form {
      background-color: white;
      height: 100%;
      width: 100%;
      box-shadow: 5px 5px 5px grey;
      border-radius: 10px;
      position: relative;
      padding-top: 20px;
      .back {
        width: 100px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .title {
        text-align: center;
        padding: 20px;
        h1 {
          margin-top: 10px;
          font-size: 45px;
        }
        hr {
          margin: 10px;
        }
      }
      .input-form {
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        width: 100%;
        position: relative;
        .left,
        .right {
          width: 100%;
          display: block;
          label {
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
          }
        }
        .right {
          textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            outline: none;
          }
        }
      }
      .bottom {
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding: 10px;
        align-items: flex-end;
      }
      .button {
        position: static;
        height: 40px;
        width: 100px;
      }
      .warning {
        width: 70%;
        position: static;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
