.home {
  background-color: white;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.301);
  animation: slideTop 1s;

  .container-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .content-image {
      img {
        width: 440px;
      }
    }
    .content-caption {
      width: 600px;
      h1 {
        font-size: 45px;
        color: rgb(0, 195, 255);
        margin-top: -30px;
      }
      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    .home-button {
      width: 120px;
      height: 40px;
    }
  }
}
