.container-product {
  background-color: white;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.301);
  animation: slideTop 1s;

  .content-product {
    padding: 30px;
    h1 {
      text-align: center;
      font-size: 35px;
      color: rgb(0, 195, 255);
    }
    hr {
      box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.301);
      border: 1px solid grey;
      margin-top: 10px;
    }
    .cards {
      display: flex;
      height: 350px;
      flex-wrap: wrap;
      overflow-y: scroll;
      gap: 30px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
  }
}

@media screen and(max-width:"560px") {
  .container-product {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.301);
    animation: slideTop 1s;

    .content-product {
      padding: 30px;
      padding-top: 100px;
      h1 {
        text-align: center;
        font-size: 35px;
        color: rgb(0, 195, 255);
      }
      hr {
        box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.301);
        border: 1px solid grey;
        margin-top: 10px;
      }
      .cards {
        display: flex;
        height: 60vh;
        flex-wrap: wrap;
        overflow-y: scroll;
        gap: 30px;
        padding-bottom: 10px;
        margin-top: 20px;
        justify-content: center;
      }
    }
  }
}
